In [17]:
#calculating total number of digits in number
a=int(input("enter a number"))
x=0
while(a>0):
    a=a//10
    print(a)
    x=x+1
print(x)

enter a number20
2
0
2

In [1]:

#program to print first 10 natural number using while loop
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
#program to print pattern
#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5
#first deciding number of rows
row=5
for i in range(1,row+1,1):
    # this i=1 is starting row, then increament, then starting number
    for j in range(1,i+1):
        print(j, end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
#program to calculate the sum of all numbers from 1 to a given number
x=int(input("Enter the number"))
s=sum(range(1,x+1))
print("sum of the number is",s)

Enter the number4
sum of the number is 10

In [5]:
#write a program to print multiplication table of given number
x=int(input("Enter a number"))
y=20
for i in range(1,y+1,1):
    print("product is",x*i)

Enter a number6
product is 6
product is 12
product is 18
product is 24
product is 30
product is 36
product is 42
product is 48
product is 54
product is 60
product is 66
product is 72
product is 78
product is 84
product is 90
product is 96
product is 102
product is 108
product is 114
product is 120

In [28]:
#print the following pattern
#5 4 3 2 1
#4 3 2 1
#3 2 1
#2 1
#1
row=5
num=5
for i in range(0,row+1,1):
    for j in range(num-i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
#printing list in reverse order using loop
lst=[1, 2, 3, 4, 5]
newlist=reversed(lst)
for items in newlist:
    print(items)

5
4
3
2
1

In [42]:
#printing 10 to -1
i=-10
while(i<=-1):
    print(i)
    i=i+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [3]:
#DISPLAYING DONE AFTER LOOP
for i in range(5):
    print(i)
else:
print("DONE")

0
1
2
3
4
DONE

In [6]:
#displaying all prime numbers within a range of numbers
start=20
end=40
for num in range(start, end+1):
    if num > 1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

23
29
31
37

In [13]:
#displaying fibonacci series upto 10
a, b=0,1
print("fibonacci series is")
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

fibonacci series is
0
1
1
2
3
5
8
13
21
34

In [35]:
#finding factorial of given number
n=int(input("enter a number"))

def factorial(n):
    p=1
    while(1==1):
        if (n<0):
            return 0
        elif (n==0) or (n==1):
            return p
        else:
            p=p*n
            n=n-1
print("the fatorial of",n,"is",factorial(n))

enter a number3
the fatorial of 3 is 6

In [69]:
n=int(input("enter a number"))
factorial=1
if(n<0):
    print("factorial is",0)
elif(n==0) or (n==1):
    print("factorial is",1)
else:
    for i in range(1,n+1):
        factorial = factorial*i
    print("the factorial of",n,"is",factorial)

enter a number3
the factorial of 3 is 6

In [7]:
for num in range(5):
    for i in range(1,num+1,1):
        print(num,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [14]:
def palindrome(number):
    print("original number", number)
    original_num=number
    reverse_num=0
    while(number>0):
        remainder=number%10
        reverse_num=(reverse_num*10)+remainder
        number=number//10
    if original_num==reverse_num:
        print("it is palindrome")
    else:
        print("it is not palindrome")
    
palindrome(12321)
palindrome(12345)

original number 12321
it is palindrome
original number 12345
it is not palindrome

In [30]:
#creating final list which contains odd number from one list and even from other


def merge_list(list1,list2):
    list3=[ ]
    for element in list1:
        if element % 2!=0:
            list3.append(element)
    for element in list2:
        if element%2==0:
            list3.append(element)
    return list3
print("the final list is:", merge_list(list1,list2))
list1=[1,2,3,4,5]
list2=[7,8,9,10]

the final list is: [1, 3, 5, 8, 10]

In [35]:
salary=int(input(("enter the income:\n")))
incometax=0
if salary<=10000:
    incometax=0
elif salary>10000 and salary<=20000:
    incometax=(salary-10000)*10/100
else:
    #for first 10000
    incometax=0
    #upto 20000
    incometax+=(10000*10)/100
    #above 20000
    incometax+=(salary-20000)*20/100
print("income tax is:\n", incometax)

enter the income:
30000
income tax is:
 3000.0

In [43]:
#multiplication table printing
for i in range(1,11,1):
    for j in range(1,11,1):
        print(i*j, end=" ")
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100